<div class="jumbotron">
    <h1 class="display-3">Recurring Orders</h1>
    <p class="lead">
        Imagine if our customer could schedule a delivery for a specific place, date and time. This could be the beggining for recurring features like:
    </p>

    <p>
        > I would like to schedule a dish every single Friday
    </p>

    <p>
        > I would love to receive a surprise dish every Wednesday
    </p>

    <p>    > It would be great if I could receive a cheap and healthy food every day at home. </p>

    <p> > I would love to surprise my wife every Wednesday with an exotic dish </p>
    <hr class="my-4">

    <p>
        The Return of Investiment could be impressive because of the Monthly Recurring Revenue (MRR). This iniciative could increase the customer engagement, since you have customer consuming products like plans.
        </p>
    <p class="lead">
        <%= link_to 'Scheduled Order', restaurants_path, { class: 'btn btn-primary btn-lg' } %>
        <%= link_to 'Surprise me', surprise_path, { class: 'btn btn-primary btn-lg' } %>
    </p>
</div>
