<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @order.customer.first_name %></h1>
    <p>
       Your order was processed and will be delivered soon.
       Dishe(s):
       <% @order.items.each do |item| %>
         <p> 
           <%= item.dish.name  %>
         </p>
       <% end %>
    </p>
  </body>
</html>
